.App {
    text-align: center;
}

.header-image {
    width: 100%; 
    height: auto; /* 비율 */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 한 줄에 4개의 박스 */
    gap: 20px; /* 박스 간격 */
    padding: 20px;
}

.pokemon-card {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    background-color: lightgrey;

}