.parent {
    display: grid;

    grid-template-columns: repeat(4, 416px);
    justify-content: space-evenly;

    grid-template-rows: repeat(6, 234px);
    row-gap: 30px;
}

.child {
    display: grid;

    grid-template-columns: 2fr, 3fr;
    grid-template-rows: 3fr, 2fr;
    grid-template-areas: "title content"
                         "title type";
}

.title {
    display: grid;
    grid-area: title;

    place-items: center;

    background-color: #eeeeee;
    color: #000000;
}

.content {
    display: grid;
    grid-area: content;

    place-items: center;

    background-color: #cccccc;
    color: #000000;
}

.type {
    display: grid;
    grid-area: type;
    
    place-items: center;

    background-color: #aaaaaa;
    color: #ffffff;
}